/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

:root{
    --primary-color: #1111e1;
    --secondary-color: #f6bcad;
    --info-color: #ffdcd4;
}

.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header{
    position: relative;
    height: 83px;
    width: 100%;
}

nav{
    height: 83px;
    width: 100%;
    padding: 20px 0px;
}

.logo{
    color: #021300;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 900;
    margin-left: 20px;
}

.logo span{
    color: var(--primary-color);
}

.navigation-bar ul{
    margin: 0;
    padding: 0;
}

.navigation-bar ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 25px;
}

.navigation-bar ul li:last-child{
   
    margin-right: 0px;
}

.navigation-bar ul li a{
    color: #222222;
    font-size: 16px;
    font-weight: normal;
    text-transform: capitalize;
    border-bottom: 2px solid transparent;
    transition: .4s ease-in-out;
}

.navigation-bar ul li a:hover{
    color: blue;
    border-bottom: 2px solid blue;
}

.btn{
   display: inline-block;
    background: var(--info-color);
    padding: 10px 28px;
    border-radius: 5px;
    font-weight: normal;
}
.navigation-bar ul li a.btn:hover{
    background: rgb(2, 46, 240);
    color: #fff;
}

.burger{
    width: 25px;
    cursor: pointer;
}

.burger span{
    display: block;
    margin-bottom: 3px;
    height: 3px;
    color: #021300;
    width: 100%;
    background: var(--primary-color);
}

@media(min-width: 991px){
    .navigation-bar{
        display: block !important;
    }
}

@media(max-width: 991px){
    .burger{
        display: block;
        position: absolute;
        right: 20px;

    }

    .navigation-bar{
        display: none;
        position: absolute;
        top: 70px;
        right: 0;
        background: burlywood;
        padding: 20px 0;
        text-align: center;
        justify-content: center;
        border-radius: 4px;
        z-index: 2'
    }

    .navigation-bar ul li{
        display: block;
        margin: 15px 0;
    }
    .navigation-bar.active{
        display: flex;
    }
}

#home-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 90vh;
    max-width: 100%;
}

#home-content .content-left{
    padding: 30px;
}

#home-content .content-left h1{
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 0;
}

.content-left p{
    margin-bottom: 20px;
}

.content-right img{
    width: 500px;
    height: 500px;
}

@media (max-width: 767px){
    #home-content{
        flex-direction: column-reverse;
    }
     #home-content .content-right{
        position: relative;
        top: 5%;
        left: 0;
     }
     .content-right img{
        width: 350px;
        height: 350px;
        margin-bottom: 0;
     }
     .content-left{
        position: relative;
        top: 5%;
     }
      #home-content .content-left h1{
        font-size: 20px;
        margin-bottom: 10px;
     }

     #home-content .content-left p{
        font-size: 12px;
     }
} */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 8%;
    z-index: 1000;
    background: #0d0d3e;
}

.logo {
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    font-weight: 800;
    text-transform: capitalize;
}

.navbar .nav-links {
    position: relative;
    display: flex;

}


.nav-links li {
    margin: 0 20px;
    list-style: none;

}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    transition: .4s ease-in-out;

}

.nav-links li a:hover {
    border-bottom: 2px solid #fff;
    color: orange;
}



.menu-btn {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
}

.container {
    max-width: 600px;
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 40px;
    top: 50%;
}


.content h1 {
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-size: 50px;
}

.content h1 span {
    color: orange;
}

.content p {
    margin-bottom: 13px;
    font-size: 14px;
}

.social-icons {
    margin-bottom: 10px;
}

.social-icons a {
    display: inline-flex;
    background: transparent;
    border: 2px solid #000;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    transition: transform .4s ease-in-out;
    margin: 3px;
}

.social-icons a:hover {
    transform: scale(1.1)translateY(-8px);
}

.btn {
    background: blue;
    padding: 10px 29px;
    border: none;
    border-radius: 26px;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}

.home-img img {
    width: 500px;
    height: 500px;
    right: 10px;
    top: 20%;
    position: absolute;
}

.footer {
    background: #0d0d3e;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
.footer h4 {
    margin-bottom: 10px;
    text-transform: capitalize;
}
.footer-icons a {
    display: inline-flex;
    background: transparent;
    border: 2px solid #fff;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: transform .4s ease-in-out;
    margin: 0 5px;
}

.footer-icons a:hover {
    transform: scale(1.1)translateY(-8px);
}

.footer p {
    margin-top: 10px;
    font-size: 14px;
}

@media(max-width: 768px) {
    .menu-btn {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .navbar .nav-links {
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        flex-direction: column;
        padding: 20px 0;
        justify-content: center;
        background: blue;
        text-align: center;
        border-radius: 4px;
        z-index: -1;
    }

    .navbar .nav-links li {
        margin: 15px;
        display: block;
    }

    .navbar .nav-links.active {
        display: block;
    }

    .container {
        flex-direction: column-reverse;
        padding: 10px;
    }

    .content {
        margin-bottom: 30px;
    }

    .container h1 {
        font-size: 20px;
    }

    .content p {
        font-size: 12px;
    }

    .content .social-icons a {
        width: 27px;
        height: 27px;
        font-size: 15px;
    }

    .btn {
        padding: 8px 16px;
        font-size: 15px;
    }

    .home-img img {
        left: 10%;
        top: 14%;
        transform: translateY(-50%, -50%);
        width: 350px;
        height: 350px;
        margin-bottom: 0;
    }

    .footer {
        padding: 15px 0;
    }
    .footer-icons a {
        width: 27px;
        height: 27px;
        font-size: 15px;
        margin: 0 3px;
    }
    
}

